<main class="container p-3">
    <div class="jumbotron mt-4">
        <h1>UMB Xalatlaco</h1>
        {{!-- <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident fugit iste itaque cum, explicabo eaque labore aspernatur nobis sed esse, nemo alias? Voluptatum vero illum unde similique. Odio, quia amet.</p> --}}
        <h2>Bienvenido </h2>
        <hr class="my-4">
        <p>Éste es el sistema gestor de archivos para uso exclusivo de la UESX, debido a la contingencia provocada por el COVID-19 el sistema será auxiliar en la gestión de archivos tanto para el encargado de control escolar como el alumno evitando el contacto social para reducir cualquier posibilidad de contagios. Aqui tendra a la disposición los archivos de los alumnos de recien ingreso para su manipulación dentro del siste SIDIUMB, que puede ingresar en el enlace de abajo.</p>
        <a href="http://sidiumb.umb.edu.mx:8088/" class="btn btn-primary">SIDIUMB</a>
    </div>
</main>