
<main class="container p-3">
    <div class="jumbotron mt-4">
        <h2>UMB Xalatlaco</h2>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident fugit iste itaque cum, explicabo eaque labore aspernatur nobis sed esse, nemo alias? Voluptatum vero illum unde similique. Odio, quia amet.</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, cumque dolores accusantium facilis, ab, molestiae iusto hic et neque aliquid quibusdam dolore repellendus cum ipsa? Porro incidunt nam consequatur harum.</p>
        <a href="" class="btn btn-primary">SIDIUMB</a>
    </div>
</main>