<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2ECC71 ;" >
    <div class="container">
        <a class="navbar-brand" href="/students/index">
            <img src="/imgs/UMB.jpg" width="30" height="30" class="d-inline-block align-top">
            UMB Xalatlaco
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-auto text-center ">
                <a class="nav-item nav-link" href="/students"><strong>Alumnos</strong></a>   
                <a class="nav-item nav-link" href="/Alumno/Files"><strong>Archivos</strong></a>             
                <a class="nav-item nav-link" href="/subjects"><strong>Materias</strong></a>
                <a class="nav-item nav-link" href="/teachers"><strong>Maestros</strong></a>
                <a class="nav-item nav-link " href="encuestas.php"><strong>Encuestas</strong></a>
                <li class="nav-item dropdown">
                    <!-- <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true" id="nav">
            Otros
          </a> -->
                    <div class="dropdown-menu dropdown-black text-center" aria-label="nav">

                    </div>
                </li>
            </div>
            <div>
                <div class="navbar-nav ml-auto text-center">
                    <a class="btn btn-info m-2" href="/about">
                        <i class="fas fa-info-circle"></i>
                    </a>
                    <a class="btn btn-primary m-2 " href="/students/perfil">
                        <i class="fas fa-user"> Perfil</i>
                    </a>
                    <a href="salir.php" class="btn btn-danger m-2">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </div>
            </div>
            </button>
        </div>
    </div>

</nav>